layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            // FIXME: Zellij wants absolute path only
            plugin location="file:/Users/andy/git/dot/zellij/statusbar.wasm"
        }
    }

    tab {
        pane
    }
}
